<div class = "center jumbotron blend-reef">
    <h1>Welcome to GREAT-RECIPES</h1>
    <h3>This is the home page for the Professional Ruby on Rails Developer Course</h3>
    <%= link_to "Sign up now!", register_path, class: 'btn btn-default gradient btn-lg' %>
</div>

<div class = "row">
  <div class = "col-lg-4 center">
    <h4 class = "midrow">
      View Recipes as Guest User
    </h4>
    <h4 class = "center">
      Browse and view recipes as a guest and Sign up later.</h4>
      <p><%= link_to "Browse recipes listings", recipes_path, class: 'btn btn-primary gradient' %></p>
  </div>
  <div class = "col-lg-4 center">
    <h4 class = "midrow">
     Sign in to your Account
    </h4>
    <h4 class = "center">Add or update your recipes.  Create reviews.  Like or Dislike Recipes</h4>
      <p><%= link_to "Login to your Account", login_path , class: 'btn btn-default gradient' %></p>
  </div>
  <div class = "col-lg-4 center">
    <h4 class = "midrow">
      View Recipes as Guest User
    </h4>
    <h4 class = "center">
      Browse and view recipes as a guest and Sign up later.</h4>
      <p><%= link_to "Browse recipes listings", "", class: "btn btn-primary gradient" %></p>
  </div>
</div>
